.WeatherTitle {
    font-size: 2em;
    margin: 1em 0;
}

.TextInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 1em auto;
}
  
.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.Radios {
    width: 420px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin: 0 auto;
}
  
.Radio {
    font-size: 15px;
}
  
.Button {
    display: block;
    margin: 1em auto;
    padding: .5rem 1em;
    font-size: 1em;
    background: #008383;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.6);
    transition: transform 200ms linear, box-shadow 120ms ease-in, background 140ms ease-out;
}

.Button:hover {
    background: #044747;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.7);
    transform: translateY(2px);
}
  