.weather-title {
    margin: 1em 0;
}

.text-input {
    border: 1px solid #CDCDCD;
    padding: 0.5em;
    border-radius: 0.2em;
    display: block;
}
  
.text-input:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.radios {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}
  
.radio {
    font-size: 15px;
}
  
.button {
    display: block;
    padding: .8rem 2em .5em;
    background: #008383;
    border-radius: 0.2em;
    color: white;
    cursor: pointer;
    line-height: 1;
    border: none;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.6);
    transition: transform 200ms linear, box-shadow 120ms ease-in, background 140ms ease-out;
}

.button:hover {
    background: #044747;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.7);
    transform: translateY(2px);
}
  