.site-navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #111;
    margin-bottom: 1em;
    .site-title {
        flex-grow: 0;
        width: 360px;
        max-width: 100%;
        padding: 0.5em;
    }
    ul {
        list-style: none;
        padding: 0 1rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        li {
            padding: 0.5rem;
            a {
                text-decoration: none;
            }
        }
    }
}