.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: .5em;
    background: rgba(255,255,255,0.25);
    box-shadow: 0 3px 12px -4px rgba(255,255,255,0.8);
    margin-bottom: 1em;
    .site-title {
        flex-basis: 24ch;
        flex-grow: 1;
        max-width: 100%;
        padding:0.5rem 0;
    }
    ul {
        flex-basis: 0;
        flex-grow: 999;
        min-width: 50%;
        list-style: none;
        padding: 0.5rem 1rem;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
    a {
        color: #1a3358;
        padding: 0 .5em;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease-in;
        &:hover {
            color: #242424;
            background: none;
            text-shadow: 0 1px 6px rgba(255,255,255,0.8);
            border-bottom: 2px solid #1a3358;
        }
        &:focus {
            outline: 2px dotted #cdcdcd;
        }
        &:active {
            color: #242424;
            border-bottom: 1px solid #cdcdcd;
        }
    }
    @media screen and (orientation: portrait) {
        .site-title {
            text-align: center;
            justify-self: center;
        }
        ul {
            justify-content: space-around;
        }
    }
}