.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: .5em;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 1em;
    .site-title {
        flex-basis: 24ch;
        flex-grow: 1;
        max-width: 100%;
        a {
            padding: 0 .5em;
            text-decoration: none;
            font-weight: 700;
            &:hover {
                color: #242424;
                background: #cdcdcd;
            }
            &:focus {
                outline: 2px dotted #cdcdcd;
            }
            &:active {
                color: #242424;
                border-bottom: 1px solid #cdcdcd;
            }
        }
    }
    ul {
        flex-basis: 0;
        flex-grow: 999;
        min-width: 50%;
        list-style: none;
        padding: 0 1rem;
        margin: 0;
        display: flex;
        justify-content: space-around;
        li {
            
            a {
                padding: 0 .5rem;
                text-decoration: none;
                &:hover {
                    color: #242424;
                    background: #cdcdcd;
                }
                &:focus {
                    outline: 2px dotted #cdcdcd;
                }
                &:active {
                    color: #242424;
                    border-bottom: 1px solid #cdcdcd;
                }
            }
        }
    }
}